:root {
    --orange: #fd7e14;
    --yellow: #ffc107;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --info: #17a2b8;
    --light: #f8f9fa;
    --light-gray: #aaa9a9;
    --faint-border: #353434;
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    position: relative;
    overflow: hidden;
}

header#about-header .about-header {
    font-family: var(--poppins);
    font-size: 60px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 1px;
    transform: scale(1.2);
    text-align: center;
}

#about-header .about-header .yellow-text {
    color: var(--yellow);
}

#about-header .resume-header {
    font-family: var(--poppins);
    font-size: 100px;
    text-transform: uppercase;
    color: var(--gray-dark);
    letter-spacing: 25px;
    transform: scale(1.3, 1.2) rotate(-25deg) translate(-60px, 120px);
    text-align: center;
    line-height: 75px;
    opacity: 0.4;
    z-index: 1;
}

#resume-and-years-experience {
    width: 100%;
    padding: 0 100px 0 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10000;
}

.about-developer {
    width: 50%;
}

.about-developer h4 {
    font-family: var(--poppins);
    color: var(--white);
    font-size: 35px;
    transform: scale(1, 1.2);
    text-transform: uppercase;
    margin-bottom: 0px;
}

.about-developer p {
    font-family: var(--open-sans);
    font-size: 18px;
    color: var(--light-gray);
    line-height: 30px;
    margin-bottom: 25px;
}

.about-developer h4 .yellow-text {
    color: var(--yellow);
}

aside .download-cv {
    background-color: var(--yellow);
    outline: none;
    border: none;
    padding: 15px 0;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
}

aside .download-cv a {
    color: var(--white);
    padding: 15px 20px;
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    transform: scale(1, 1.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 25px;
}

aside .download-cv a i {
    opacity: 0;
    transition: all .2s ease-in-out;
}

aside .download-cv a:hover i {
    opacity: 1.0;
    margin-left: 15px;
}

.qualities {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.qualities div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.qualities div p {
    width: 150px;
    text-align: center;
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: 600;
    color: var(--light-gray);
    letter-spacing: 2px;
    border: 1px solid var(--faint-border);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-before-skills {
    margin: 80px auto 55px;
    border: 1px solid #252525;
    max-width: 40%;
}

.skills {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.skills h4 {
    font-family: var(--poppins);
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    transform: scale(1, 1.15);
}

.skills .myskills,
.skills .skills-learning {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.skills .myskills div,
.skills .skills-learning div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills .myskills div.column-1 {
    margin-bottom: 90px;
}

.skills .myskills div p,
.skills .skills-learning div p {
    width: 142px;
    height: 142px;
    font-family: var(--open-sans);
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light-gray);
    border: 10px solid var(--yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .skills-learning {
    margin-top: 30px;
}

.skills .skills-learning div {
    margin-top: 50px;
}