:root {
    --orange: #fd7e14;
    --yellow: #ffc107;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --info: #17a2b8;
    --light: #f8f9fa;
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    position: relative;
    overflow-x: hidden;
}

header#about-header .about-header {
    font-family: var(--poppins);
    font-size: 60px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 1px;
    transform: scale(1.2);
    text-align: center;
}

header#about-header .about-header .yellow-text {
    color: var(--yellow);
}

header#about-header .resume-header {
    font-family: var(--poppins);
    font-size: 100px;
    text-transform: uppercase;
    color: var(--gray-dark);
    letter-spacing: 5px;
    transform: scale(1.3, 1.2);
    text-align: center;
    line-height: 75px;
    opacity: 0.4;
}