/* Mobile-first approach */

:root {
    --orange: #fd7e14;
    --yellow: #ffc107;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --info: #17a2b8;
    --light: #f8f9fa;
    --light-gray: #aaa9a9;
    --faint-border: #353434;
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-y: scroll;
}

body *,
body *:before,
body *:after {
    box-sizing: inherit;
}

img {
    border: 0;
    display: block;
    /* collapse top and bottom margins */
    max-width: 100%;
}

.section {
    padding: 16px 100px 16px 50px;
}

.container {
    margin: 0 auto 100px;
    /* max-width: 560px; */
}

.gallery {
    padding-bottom: 10px;
    text-align: center;
}

.portfolio-heading {
    color: var(--white);
    font-family: var(--poppins);
    font-size: 50px;
    text-transform: uppercase;
    transform: scale(1.2);
    text-align: center;
    margin: 50px 0;
}

.portfolio-heading .yellow-text {
    color: var(--yellow);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, -webkit-max-content);
    grid-auto-rows: minmax(100px, max-content);
    grid-auto-flow: dense;
    gap: 50px;
    margin-top: 40px;
    padding: 10px;
}

.gallery-item {
    border: 1px solid var(--faint-border);
    border-radius: 8px;
    padding: 1px;
    transition: all .3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.1)
}

.gallery-item img {
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-item-text {
    display: none;
}


/*******************************
         .lightbox styles
  *******************************/

.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    z-index: 10;
}


/* .preload will be removed by JS code during DOMContentLoaded event. This is done to avoid lightbox transition appearing on page load. */

.lightbox.preload {
    transition: none !important;
}

.lightbox.open {
    opacity: 1;
    pointer-events: auto;
}

.lightbox .lb-content {
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 1em; */
    max-height: 90%;
    padding: 1rem;
    position: relative;
}

.lightbox .lb-img {
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    height: auto;
}

.lightbox .lb-caption {
    color: var(--light-gray);
    line-height: 30px;
    display: flex;
    flex-direction: column;
    font-family: var(--open-sans);
    font-size: 0.9rem;
    max-width: 50ch;
    overflow-y: auto;
    /* may occur in smartphones */
    opacity: 0;
    transition: opacity 0.3s;
}

.lightbox.open .lb-caption {
    opacity: 1;
}

.lightbox .lb-url {
    color: var(--yellow);
    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
    padding-top: 8px;
    padding-bottom: 14px;
}

.lightbox .close {
    background-color: lightgray;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    position: absolute;
    top: -0.4em;
    right: -0.4em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}


/* Lightbox overlay */

.lightbox .close::before {
    background-color: rgba(0, 0, 0, 0.9);
    content: "";
    cursor: default;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/**********************************
            Media queries
   **********************************/


/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .lightbox .lb-caption {
        font-size: 15px;
    }
}


/* Large devices (laptops/desktops, 1024px and up) */

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
    .lightbox .lb-content {
        flex-direction: row;
    }
    .lightbox .lb-img {
        margin-bottom: 0;
    }
    .lightbox .lb-caption {
        padding: 0 1.5em;
    }
    .lightbox .lb-url {
        padding-top: 0;
    }
}

.footer {
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer svg {
    fill: snow;
}

.footer a {
    color: inherit;
    margin-left: 10px;
    text-decoration: underline;
    text-underline-position: under;
}


/* mobile version */

@media only screen and (min-width: 940px) {
    html {
        overflow-x: hidden;
    }
    body {
        overscroll-behavior: contain;
    }
    .hamburger {
        display: block;
        position: fixed;
        right: 15px;
        top: 10px;
        z-index: 120000;
    }
    .hamburger {
        background-color: transparent !important;
    }
    .hamburger-box {
        width: 20px !important;
        height: 20px !important;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 25px !important;
    }
    .portfolio-heading {
        font-size: 25px;
        transform: scale(1.1, 1);
        text-align: left;
        margin: 0px 0 0px 0px;
        padding: 16px 0 10px 35px;
        background-color: var(--gray-dark);
        border-bottom: 1px solid var(--gray);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 90000;
    }
}