:root {
    --orange: #fd7e14;
    --yellow: #ffc107;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --info: #17a2b8;
    --light: #f8f9fa;
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    position: relative;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style-type: none;
}

header#homepage-header {
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.yellow-border-right {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    background-color: var(--yellow);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 15px;
}

.index-img-container {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    border-radius: 15px;
}

.index-img-container img {
    width: 100%;
    height: auto;
    height: 100%;
    box-shadow: inset 0 0 10px rgb(17, 17, 17);
}

.short-description {
    width: 60%;
    padding-left: 60px;
}

.short-description h5 {
    font-family: var(--poppins);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 0;
    margin: 10px 0 20px;
    transform: scale(1, 1.2);
}

.short-description h1 {
    font-family: var(--poppins);
    text-transform: uppercase;
    font-size: 40px;
    transform: scale(1, 1.2);
    line-height: 80px;
}

.short-description h1 .yellow-text {
    color: var(--yellow);
}

.short-description p {
    font-family: var(--open-sans);
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 25px;
}

button.about-me {
    background-color: var(--yellow);
    outline: none;
    border: none;
    padding: 15px 0;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
}

button.about-me a {
    color: var(--white);
    padding: 15px 20px;
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    transform: scale(1, 1.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 25px;
}

button.about-me a i {
    opacity: 0;
    transition: all .2s ease-in-out;
}

button.about-me a:hover i {
    opacity: 1.0;
    margin-left: 15px;
}

.mobile-nav {
    display: none
}

nav {
    height: 80%;
    position: fixed;
    top: 50%;
    margin-top: -170px;
    right: 30px;
    display: flex;
    align-items: center;
    z-index: 10000;
}

.page-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-links li {
    margin-bottom: 20px;
    margin-left: auto;
    border-radius: 50%;
    background-color: var(--gray-dark);
    color: var(--white);
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.page-links li.active {
    background-color: var(--yellow);
}

.page-links li .fa {
    transform: scale(1.5);
    padding: 5px;
    transition: all .5s ease;
}

.page-links li:hover {
    background-color: var(--yellow);
    color: var(--white);
    width: 150px;
    text-align: center;
    border-radius: 25px;
}

.page-links li:hover a {
    display: flex;
    padding: 10px 30px;
    border-radius: 25px;
}

.page-links li a span {
    font-family: var(--poppins);
    font-size: 16px;
    margin-right: 7px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    display: none;
}

.page-links li:hover a span {
    display: inline;
}


/* mobile version starts here */

@media only screen and (max-width: 1200px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .yellow-border-right {
        display: none;
    }
    header#homepage-header {
        width: 100%;
    }
    .short-description {
        width: 100%;
        padding: 0 20px;
    }
    .short-description h5 {
        font-size: 18px;
        margin: 0 0 20px;
        transform: scale(1, 1.5);
    }
    .short-description h1 {
        font-size: 25px;
        transform: scale(1.3);
        line-height: 60px;
    }
}